@import "~scss-spinners/components/round";

html {
	font-family: Roboto, Arial, Helvetica, sans-serif
}

body {
	margin: 0;
}

.container {
	margin-top: 64px;
	padding: 35px 20px 30px;
}

.sidebar {
	padding: 16px;
	width: 240px;
	margin-top: 64px;
	height: calc(100% - 64px);
}
